#about {
    background-color: #310745;  
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#heroContact {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    
}

#contactButton {
    max-width: 7rem;
    margin-top: 1rem;
}

.heroText {
    max-width: 35rem;

}

.green {
    color: #00ff00;
}

.red {
    color: #ff3300;
}
