#contactPage {
    background-color: #310745;
    color: white;
    padding-top: 7rem;
}

#contactForm {
    max-width: 25rem;
}

.imageColumn {
    max-width: 4rem;
}

.linkColumn {
    margin: auto;

}
.anchor {
    color: white;
    text-decoration: none;
}

.anchor:hover {
    color: yellow;
}