#footer {
    background-color: #310745;
    justify-content: center;
    color: white;
    font-size: small;
}

#footer a {
    color: white;
    padding-left: 0.4rem;
    color: yellow;
    text-decoration: none;
}

#footer a:hover {
    color: rgb(1, 255, 1);
}