#homepage {
    color: white;
    background-color: #310745;
}

#homeContainer {
    height: 90vh;
}

#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
}

#heading {
    font-size: 3rem;
    text-align: center;
}

#heroText {
    text-align: center;
}

#title {
    font-size: 4rem;
    font-weight: bold;
    color: yellow;
}

/* Media Queries */
@media (max-width: 1000px) {
    #hero {
        flex-direction: column;
        justify-content: center;
    }
    #homeContainer {
        height: 70vh;
    }
    #heading {
        font-size: 1.5rem;
    }
    #heroText {
        font-size: 1rem;
    }
    #intro {
        margin: 0 auto;
    }
    #title {
        font-size: 2rem;
    }
}